
<div class='my-2'>
    <section>
      <div>
        <h3>Profile</h3>
      </div>
    </section>
  </div>
  
  <div>
    <section>
      <div>
        <p>はじめまして、1990年生まれのエンジニアです。</p>
        <p>大学は文系学部を出ました。</p>
        <p>新卒では地方の広告代理店に入社し、マーケティングや、ペーパーメディアのバイイングなどをしました。</p>
        <p>その後、プログラミングなど全くできない状態ながら、ウェブサービスを作ろう！と思い、退社し独学でプログラミングの勉強をしてきました。</p>
        <p>2年の独学+開発ののちに、プロトタイプを作りベンチャーキャピタルからの出資を目指しましたが叶わず、お金も尽きたのでまた就職することにしました。</p>
        <p>これはそのために作ったポートフォリオサイトです。</p>
      </div>
    </section>
  </div>